@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root{
  background-color: #f6f6f6;
  ;
} */

*{
  box-sizing: border-box;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: green;
  transform-origin: 0%;
}

.bordercss {
  border: 0.5px solid rgba(85, 86, 90, 0.12);
}

.InfoNav {
  padding: 3px 285px 20px 146px;


}

.nav {
  flex: 1 0 0;
}

.pad {
  margin: 16px 70px 16px 5px;
}

.bordb {
  border-right: 1px solid rgba(85, 86, 90, 0.12);

  border-bottom: 1px solid rgba(85, 86, 90, 0.12);
  
  border-left: 1px solid rgba(85, 86, 90, 0.12);
}
.bordh{
  border-radius: 2px 2px 0px 0px;
border: 1px solid rgba(85, 86, 90, 0.12);
}
.tableBorder{
  border: 0.5px solid rgba(85, 86, 90, 0.12);
}
.bg{
  background: linear-gradient(to bottom, #F6F6F6, #FCFCFC);
}
.image-container {
  position: relative;
  overflow: hidden;

}

.overlay-image {
  position: absolute;
  top: 50%; 
  transition: top 0.5s; 
}

.image-container:hover .overlay-image {
  top: 0; 
}
.br{
  border-radius: 2.546px;
  border: 1px solid #DFE3E7;
}
.brd{
  border-radius: 8px;
border: 0.2px solid #6C6A6A;
}
.borderinputs{
  border-radius: 2.546px;
  border: 1px solid #DFE3E7;
}
.dropdown-menu {
  position: relative;
  display: inline-block;
}

.menu-icon {
  cursor: pointer;
}

.dropdown-content {
  display: block;
  width: 200px;
  position: absolute;
  top: 100%;
  right: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: #333;
}

.dropdown-content div:hover {
  background-color: #ddd;
}
.fadeInAnimation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fadeInAnimation.active {
  opacity: 1;
}







